@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignIn Page</title>
    <link rel="stylesheet" href="~/css/login.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
		<div class="signup">
			<form action="/Auth/ActionSignUp" method="post">
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="UserName" placeholder="User name" required="">
				<input type="email" name="UserEmail" placeholder="Email" required="">
				<input type="password" max="40" maxlength="40" name="UserPassword" placeholder="Password" required="">
				<button>Sign up</button>
			</form>
			@{
				if(@ViewBag.error != null)
				{
					<span class="error-message" style="color: red; display: none;">The Email you entered already in use.</span>
				}
			}
		</div>

		<div class="login">
			<form action="/Auth/ActionLogin" method="post">
				<label for="chk" aria-hidden="true">Login</label>
				<input type="email" name="UserEmail" placeholder="Email" required="">
				<input type="password" max="40" maxlength="40" name="UserPassword" placeholder="Password" required="">
				<button>Login</button>
			</form>
			@{
				if (@ViewBag.error != null)
				{
					<span class="error-message" style="color: red; display: none;">Invalid email or password</span>
				}
			}
		</div>
	</div>
</body>
</html>
